#contact{
    background-color: #111;
    padding: 50px;
}
.contact{
    font-size: 4vw;
    font-weight: 900;
}
.form .txt-field{
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt-field input{
    color: #fff !important;
    width: 80%;
    padding: 0 5px;
    height: 40px;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
}
.send-request{
    background-color:#eafcfc !important;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 3rem;
    outline: none;
}
.send-request:hover{
    color: #fff !important;
    background-color: #000 !important;
}
@media (max-width: 850px){
    .flex-container{
        flex-direction: column;
    }
}