.hero--section{
    background-image: url('./assets/hero-background.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-position: center;
    height: 100%;
}
.hero--header-text{
    font-size: 5vw;
    line-height: 1.5;
    font-weight: 650;
}
/* .hero--card{
    width: 50%;
    height: 50vh;
} */
/* .hero--section-card{
    background-image: url('./assets/Hero-Card.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
} */
.about-button{
    background-color:#eafcfc !important;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 3rem;
    outline: none;
}
.about-button:hover{
    color: #fff !important;
    background-color: #000 !important;
}
@media(max-width: 1000px){
    .hero--header-text{
        text-align: center;
    }
    .hero--card{
        align-items: center;
    }
    .hero--bottom-text > span > p{
        text-align: center !important;
    }
    .hero--bottom-text > a > .about-button{
        float: none !important;
        
    }
}