.hero--section{
    background-image: url('./assets/hero-background.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-position: center;
}
.hero--header-text{
    font-size: 4.7vw;
    line-height: 1.5;
    font-weight: 650;
    pointer-events: none;
}
.about-button{
    background-color:#eafcfc !important;
    padding: 1rem 2rem;
    border-radius: 10px;
    /* margin-top: 3rem; */
    outline: none;
}
.about-button:hover{
    color: #fff !important;
    background-color: #000 !important;
}
@media(max-width: 1000px){
    .hero--header-text{
        text-align: center;
    }
    .hero--bottom-text > span > p{
        text-align: center !important;
    }
    .about-button{
        float: none !important;
        width: 70vw;
    }
    .hero--about-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media(max-width: 995px){
    .hero--card{
        display: none;
    }
}